body {
    width:100%;
    height:100%;
    padding:0;
    margin:0 auto;
    background-image: linear-gradient(to top right, rgba(58,18,18,0.2), rgba(152,76,76,1));
}

@font-face {
    font-family:Alegreya;
    src: url("alegreya-sans.regular.ttf");
}

.container {
    width:100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #7D3A1E;
    font-size: 45px;
    margin: 0.2em 1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content {
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: row;
}
