body {
    width:100%;
    height:100%;
    padding:0;
    margin:0 auto;
    background-image: linear-gradient(to top right, rgba(58,18,18,0.2), rgba(152,76,76,1));
}

@font-face {
    font-family:Alegreya;
    src: url("alegreya-sans.regular.ttf");
}

.container {
    width:100%;
    display: flex;
    flex-direction: column;
}

.header {
    height:10%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #7D3A1E;
    font-size: 45px;
    margin: 0.2em 1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.abutton {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: flex-end;
}

.profile {
    width: 190px;
    height: 40px;
    text-align: center;
    font-family: Alegreya, sans;
    font-size: 15px;
    border: 0;
    border-radius: 1em;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
    justify-self: flex-end;
    margin-right: 20px;
}


.message {
    font-size: 24px;
    font-family: 'Alegreya', sans-serif;
}

.content {
    width: 100%;
    height: 90%;
    display:flex;
    flex-direction: row;
}

.textSide {
    height:90%;
    width:50%;
}

.text {
    width:70%;
}

.textArea {
    display: flex;
    justify-content: center;
    font-family: Alegreya, sans;
    margin-top: 10em;
    text-align: center;
    font-size: 22px;
}



.loginSide {
    height: 90%;
    width: 50%;
}

.formDiv {
    width:80%;
}


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10em;
    text-align: center;
    font-size: 22px;
}

.buttonDiv {
    width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
}

.loginInp {
    margin: 0 auto;
    font-family: Alegreya, sans;
    font-size:20px;
    height:50px;
    width:400px;
    text-align: center;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
    background-color: #E9E3E3;
}

.passwInp {
    font-family: Alegreya, sans;
    font-size:20px;
    margin: 20px auto 0;
    height:50px;
    width:400px;
    text-align: center;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
    background-color: #E9E3E3;
}

.buttonLogin {
    font-family: Alegreya, sans;
    margin-top: 20px;
    font-size: 18px;
    height: 50px;
    width: 200px;
    text-align: center;
    border: 0;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
    .textSide{
        margin-top: 10%;
        width:100%;
        height: 50%;
    }

    .textArea {
        display: flex;
        justify-content: center;
        font-family: Alegreya, sans;
        margin-top: 0;
        text-align: center;
        font-size: 33px;
    }

    .loginSide {
        height: 90%;
        width: 100%;
    }

    .formDiv {
        width: 100%;
    }

    .form {
        margin-top: 10%;

    }

    .loginInp {
        margin: 0 auto;
        font-family: Alegreya, sans;
        font-size: 34px;
        height: 100px;
        width: 500px;
        text-align: center;
        border: 0;
        border-radius: 50px;
        box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
        background-color: #E9E3E3;
    }

    .passwInp {
        font-family: Alegreya, sans;
        font-size: 33px;
        height: 100px;
        width: 500px;
        text-align: center;
        border: 0;
        border-radius: 50px;
        box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
        background-color: #E9E3E3;
        margin: 40px auto 0;
    }

    .profile{
        height: 60px;
        font-size: 22px;
    }


    .buttonLogin {
        font-family: Alegreya, sans;
        margin-top: 40px;
        font-size: 33px;
        height: 100px;
        width: 400px;
        text-align: center;
        border: 0;
        border-radius: 50px;
        background-color: rgba(0,0,0,0.4);
        color: white;
        box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    }

    .logo{
        font-size: 80px;
    }

    .message{
        font-size: 34px;
    }

    select > option {
        font-size: 15px;
    }

}