* {
    margin: 0;
    padding: 0;
}

body {
    width:100%;
    height:100%;
    padding:0;
    margin:0 auto;
    background-image: linear-gradient(to top right, rgba(58,18,18,0.2), rgba(152,76,76,1));
}

@font-face {
    font-family:Alegreya;
    src: url("alegreya-sans.regular.ttf");
}

.container {
    width:100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #7D3A1E;
    font-size: 45px;
    margin: 0.2em 1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content {
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: column;
}

.area {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-content: space-around;

}

.profile {
    width: 190px;
    height: 40px;
    text-align: center;
    font-family: Alegreya, sans;
    font-size: 15px;
    border: 0;
    border-radius: 1em;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
    justify-self: flex-end;
    margin-right: 20px;
}

.searching {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
}

.selecting{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}

.subjSearch {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.subjSearching {
    font-family: Alegreya, sans;
    font-size: 20px;
    height: 50px;
    width: 70%;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
    background-color: #E9E3E3;
}

.citySearch {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.citySearching {
    font-family: Alegreya, sans;
    font-size: 20px;
    height: 50px;
    width: 70%;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
    background-color: #E9E3E3;
}

.submit {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.submitButton {
    width: 50%;
    height: 50px;
    font-family: Alegreya, sans;
    font-size:20px;
    text-align: center;
    background-color: yellowgreen;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
}

.teachers {
    height: 90%;
    width: 87%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.teacher {
    height: 150px;
    width: 80%;
    border: 0;
    border-radius: 10px;
    background-color: #E9E3E3;
    display: flex;
    flex-direction: row;
    margin: 20px auto 0;
    padding-right: 15px;
}

.leftSide {
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    height: 100px;
    width: 100px;
    border: 1px black solid;
    border-radius: 100%;
    background-color: cadetblue;
    visibility: hidden;
}

.teacherInfo {
    width: 85%;
    display: flex;
    flex-direction: column;

}

.upper {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.name\&Surname {
    width:40%;
    height:100%;
    padding:0 30px;
}

.subjects {
    width:60%;
    height:100%;
    padding:0 30px;
}

.name {
    font-family: Alegreya, sans;
    font-size:18px;
    padding: 10px;
}

.subject {
    font-family: Alegreya, sans;
    font-size:18px;
    padding: 10px;
}

.descRam {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.description {
    height:100%;
    width: 80%;
}

.enroll {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    width: 100%;
    height: 50%;
}

.enrollButton {
    font-family: Alegreya, sans;
    font-size:16px;
    background-color: yellowgreen;
    width:100%;
    border: 0;
    border-radius: 10px;
    height: 100%;
}


.desc {
    padding: 10px;
    font-size: 15px;
    font-family: 'ALEGREYA', sans;
}

@media only screen and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-size: 80px;
    }

    .teacher {
        height: 175px;
    }

    .subjSearching{
        width: 75%;
        height: 100px;
        font-size: 30px;
    }

    .citySearching{
        width: 75%;
        height: 100px;
        font-size: 30px;
    }

    .submitButton{
        width: 75%;
        height: 100px;
        font-size: 30px;
    }

    .profile{
        height: 60px;
        font-size: 22px;
    }

    .name {
        font-size: 27px;

    }

    .subject {
        font-size: 25px;
    }

    .desc {
        padding: 15px;
        font-size: 27px;
    }

    .enroll{
        width: 30%;
    }

    .enrollButton {
        font-size: 26px;
    }

    select > option {
        font-size: 15px;
    }

}

