* {
    margin: 0;
    padding: 0;
}

body {
    width:100%;
    height:100%;
    padding:0;
    margin:0 auto;
    background-image: linear-gradient(to top right, rgba(58,18,18,0.2), rgba(152,76,76,1));
}

@font-face {
    font-family:Alegreya;
    src: url("alegreya-sans.regular.ttf");
}

.container {
    width:100%;
    display: flex;
    flex-direction: column;
}

.header {
    height:10vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #7D3A1E;
    font-size: 45px;
    margin: 0.2em 1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content {
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: row;
}

.leftSide {
    height:90vh;
    width:30%;
}

.left {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    width: 80%;
}

.profilePic {
    height: 300px;
    width: 300px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: red;
    margin: 50px auto 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.name\&Surname {
    width: 100%;
    margin-top: 50px;
    vertical-align: middle;
    display: table-row;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.name\&Surname nameArea {
    display: table-cell;
}

.nameArea {
    font-family: Alegreya, sans;
    height: 50px;
    width: 80%;
    background-color: #E9E3E3;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    resize: none;
    padding-top: 15px;
    font-size: 20px;

}

.city {
    vertical-align: middle;
    display: table-row;
    display: flex;
    width: 100%;
    justify-content: center;
}

.city cityArea {
    display: table-cell;
}

.cityArea {
    display: table-cell;
    vertical-align: middle;
    font-family: Alegreya, sans;
    height: 50px;
    width: 80%;
    background-color: #E9E3E3;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    box-sizing: border-box;
    resize: none;
    padding-top: 15px;
    font-size: 20px;
}

.acceptDiv {
    margin: 50px auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.acceptButton {
    font-family: Alegreya, sans;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.30);
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
    margin: auto 0;
}

.rightSide {
    height: 90vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
}


.right {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.description {
    width: 100%;
    margin-bottom: 17px;
    margin-top: 50px;
}

.description textarea {
    display: table-cell;
}


.textArea {
    display: table-cell;
    vertical-align: middle;
    font-family: Alegreya, sans;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    resize: none;
    background-color: #E9E3E3;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
    padding: 30px;
    font-size: 22px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.subjects {
    font-family: Alegreya, sans;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.classesAvailable {
    margin: 20px auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.availButton {
    font-family: Alegreya, sans;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.30);
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.3);
}

.logout {
    margin: 20px auto 0;
    width: 350px;
    display: flex;
}

.logout {
    margin: 25px auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logoutButton {
    font-family: Alegreya, sans;
    height: 50px;
    width: 80%;
    background-color: rgba(255,15,0,0.4);
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.subjectList {
    background-color: #E9E3E3;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
    font-family: Alegreya, sans;
    width: 60%;
    font-size: 17px;
    padding: 15px;
    text-align: center;
}

.chooseSub {
    background-color: rgba(0,0,0,0.30);
    color: white;
    font-family: Alegreya, sans;
    font-size: 15px;
    margin-left: 10%;
    height: 100%;
    width: 90%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
}

@media only screen and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .logo{
        font-size: 80px;
    }

    .leftSide{
        height: 70%;
        width: 100%;
    }

    .rightSide {
        width: 100%;
        display: flex;
        justify-content: center;
        order: -1;
        height: 30%;
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-content: flex-start;
        flex-wrap: nowrap;
    }

    .description {
        vertical-align: middle;
        display: table-row;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .textArea{
        margin: 0;
        width: 85%;
        height: 90%;
        font-size: 50px;
    }

    .subjects{
        font-family: Alegreya, sans;
        height: 80px;
        width: 100%;
        display: flex;
        /* margin: 0 auto; */
        flex-direction: row;
    }

    .subjectList {
        background-color: #E9E3E3;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
        font-family: Alegreya, sans;
        width: 70%;
        font-size: 25px;
        padding: 20px;
        text-align: center;
    }

    .chooseSub {
        background-color: rgba(0,0,0,0.30);
        color: white;
        font-family: Alegreya, sans;
        font-size: 25px;
        margin-left: 10%;
        height: 100%;
        width: 90%;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 6px 5px rgb(0 0 0 / 30%);
    }

    .nameArea{
        height: 100px;
        font-size: 40px;
        padding-top: 20px;
    }

    .cityArea{
        height: 100px;
        font-size: 40px;
        padding-top: 20px;
    }

    .acceptButton{
        height: 80px;
        font-size: 35px;
    }

    .searchClassButton{
        height: 80px;
        font-size: 35px;
    }

    .logoutButton{
        height: 80px;
        font-size: 35px;
    }

    .availButton {
        height: 80px;
        font-size: 35px;
    }

}